<?php

define('CLIENT_ID_SERV', 'change_me');
define('CLIENT_SECRET_SERV', 'change_me');
define('AUTH_URL_SERV', 'http://localhost:8080/auth');
define('ACCESS_TOKEN_URL_SERV', 'http://oauth-server:8080/token');
define('USER_URL_SERV', 'http://oauth-server:8080/me');
define('REDIRECT_URI_SERV', 'http://localhost:8081/callback');

define('CLIENT_ID_FB', 'change_me');
define('CLIENT_SECRET_FB', 'change_me');
define('AUTH_URL_FB', 'https://www.facebook.com/v2.10/dialog/oauth');
define('ACCESS_TOKEN_URL_FB', 'https://graph.facebook.com/v2.10/oauth/access_token');
define('USER_URL_FB', 'https://graph.facebook.com/v2.10/me');
define('REDIRECT_URI_FB', 'http://localhost:8081/fb_callback');

define('CLIENT_ID_GIT', 'change_me');
define('CLIENT_SECRET_GIT', 'change_me');
define('AUTH_URL_GIT', 'https://github.com/login/oauth/authorize');
define('ACCESS_TOKEN_URL_GIT', 'https://github.com/login/oauth/access_token');
define('USER_URL_GIT', 'https://api.github.com/user');
define('REDIRECT_URI_GIT', 'http://localhost:8081/git_callback');

define('CLIENT_ID_DS', 'change_me');
define('CLIENT_SECRET_DS', 'change_me');
define('AUTH_URL_DS', 'https://discord.com/api/oauth2/authorize');
define('ACCESS_TOKEN_URL_DS', 'https://discord.com/api/v10/oauth2/token');
define('USER_URL_DS', 'https://discord.com/api/v10/users/@me');
define('REDIRECT_URI_DS', 'http://localhost:8081/ds_callback');

define('CLIENT_ID_GO', 'change_me');
define('CLIENT_SECRET_GO', 'change_me');
define('AUTH_URL_GO', 'https://accounts.google.com/o/oauth2/auth');
define('ACCESS_TOKEN_URL_GO', 'https://oauth2.googleapis.com/token');
define('USER_URL_GO', 'https://www.googleapis.com/oauth2/v1/userinfo');
define('REDIRECT_URI_GO', 'http://localhost:8081/go_callback');